@charset "UTF-8";
body{
	background-image: url("newbackground3.jpg");
	background-repeat:no-repeat;
}

#title{
	color: white; 
	font-family: 'Nixie One', cursive;
	font-size: 30px;
	text-align: center;
	margin-top: 10%;
}

#loginsignup{
	margin-top: 5%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(255,255,255,0.2);
	height: 30%;
	width: 35%;
	border-radius: 10%;
}

#links{
	padding-top: 5%;
	font-family: 'Nixie One', cursive;
	font-weight: bold;
}

#login{
	padding-right: 5%;
	color: grey;
}

a:hover{
	text-decoration: none !important;
}


#signup{
	color: white;
}

#loginform{
	padding-top: 10%;
	padding-bottom: 10%;

}

#loginform input{
	width: 82%;
}

#inputs{
	padding-left: 15%;
}

input::-webkit-input-placeholder{
	font-family: 'Nixie One', cursive;
}

#username{
	font-family: 'Nixie One', cursive;
}

#go{
	width: 70% !important;
	font-family: 'Nixie One', cursive;
	font-weight: 900;
}